.wrappage {
  min-height: 704px;
  background-color: #f4f4f4;
  max-width: 1920px;
  .container {
    max-width: 1920px;
    width: 100%;
    .row {
      margin: 0 auto;
    }
    .content {
      background-color: white;
      max-width: 1475px;
      width: 100%;

      min-height: 575px;
      border-radius: 20px;

      .content_top {
        .img {
          height: 100%;
          img {
            max-height: 475px;
            border-radius: 12px;
          }
        }
      }
      .content_bot {
        padding: 0;
        height: 100%;
        .bot-main {
          .bot_item {
            max-width: 494px;

            h3 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.01em;
              text-transform: uppercase;
              font-feature-settings: "pnum" on, "lnum" on, "kern" off;
              color: rgba(0, 0, 0, 0.3);
              margin-top: 69px;
            }
            .icon {
              color: #e0e0e0;
              font-size: 52px;

              margin-top: 55px;
            }
            .text {
              min-height: 160px;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              line-height: 40px;

              letter-spacing: -0.04em;
              color: #0d0d0d;
              margin-top: 12px;
            }

            .post {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: -0.01em;
              color: #0d0d0d;

              margin-top: 20px;
            }
            .artist {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              letter-spacing: -0.03em;
              font-feature-settings: "pnum" on, "lnum" on;
              color: rgba(0, 0, 0, 0.3);
              margin-top: 4px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .wrappage {
    padding-top: 65px;

    .bot-main {
      .bot_item {
        margin-left: 97px;
        .text {
          font-size: 30px;
        }
      }
    }
    .img {
      padding-top: 50px;
      padding-left: 50px;
      img {
        max-width: 638px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .wrappage {
    padding-top: 35px;
    .bot-main {
      margin: 0px auto;
      .bot_item {
        padding: 0 20px;
        .text {
          font-size: 24px;
        }
      }
    }
    .img {
      img {
        margin-top: 20px;
        margin-left: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .wrappage {
    padding-top: 15px;

    .bot-main {
      .bot_item {
        margin: 0 auto;
        .text {
          p {
            font-size: 20px;
          }
        }
      }
    }
    .img {
      img {
        margin: 5px auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrappage {
    padding-top: 5px;

    .bot-main {
      .bot_item {
        padding: 0 20px;
        .text {
          p {
            font-size: 20px;
          }
        }
      }
    }
    .img {
      img {
        // margin: 0px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .wrappage {
    padding-top: 5px;

    .bot-main {
      .bot_item {
        padding: 0 20px;
        .text {
          p {
            font-size: 20px;
          }
        }
      }
    }
    .img {
      img {
        // margin: 0px;
      }
    }
  }
}
